<p id="notice"><%= notice %></p>

<h1>Receivers</h1>

<table>
  <thead>
    <tr>
      <th>Ein</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Filename</th>
      <th>Uploaded at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receivers.each do |receiver| %>
      <tr>
        <td><%= receiver.ein %></td>
        <td><%= receiver.name %></td>
        <td><%= receiver.address %></td>
        <td><%= receiver.city %></td>
        <td><%= receiver.state %></td>
        <td><%= receiver.zip %></td>
        <td><%= receiver.filename %></td>
        <td><%= receiver.uploaded_at %></td>
        <td><%= link_to 'Show', receiver %></td>
        <td><%= link_to 'Edit', edit_receiver_path(receiver) %></td>
        <td><%= link_to 'Destroy', receiver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receiver', new_receiver_path %>
