<%= form_with(model: filer, local: true) do |form| %>
  <% if filer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(filer.errors.count, "error") %> prohibited this filer from being saved:</h2>

      <ul>
        <% filer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ein %>
    <%= form.text_field :ein %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip %>
  </div>

  <div class="field">
    <%= form.label :filename %>
    <%= form.text_field :filename %>
  </div>

  <div class="field">
    <%= form.label :uploaded_at %>
    <%= form.datetime_select :uploaded_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
